
.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1.75rem);
}

.was-validated .form-control:invalid,
.was-validated .form-select:invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
}

.was-validated .form-control:valid,
.was-validated .form-select:valid {
    border-color: #28a745;
}

.invalid-feedback {
    display: block;
    font-size: 0.875em;
    color: #dc3545;
}
